* {
    box-sizing: inherit;
}

#img-game {
    width: 80rem;
    margin-top: 12rem;
    margin-left: 27.3rem;
    border-style: solid;
    border-width: 1rem;
    border-color: #000000c4;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background: linear-gradient(black, black, #2a242c, #352a38, #614f77, #d2a1f3, #ffeee6);
    background-repeat: no-repeat;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
    nav{
        background-color: rgb(0, 0, 0);
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

#home{
    margin-top: 13rem;
}

#add {
    justify-content: center;
    border-color: transparent;
    border-style: solid;
    border-width: 10rem 30rem 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    margin: 0;
}

a {
    text-decoration: none;
    color: rgba(221, 186, 238, 0.959);
}

#add-form {
    background: rgba(65, 50, 87, 0.623);
    padding: 2.5rem 0.625rem;
    border-radius: 0.6rem;
}

@media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#image-submit {
    border: 1px solid transparent;
}

input {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.nav {
    height: 90px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(./logo.png);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    font-variant: small-caps;
    display: flex;
    margin-right: 2rem;
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }
    .nav-list {
        margin: 0 1rem;
    }
}

#submit {
    margin-top: 2rem;
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: #ffcccc;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list a:hover {
    background: rgba(221, 186, 238, 0.959);
    color: rgb(26, 4, 41);
}

.image-gameCard {
    width: 20.9rem;
}

.gameCard {
    border: 0.1px;
    border-style: solid;
    border-color: #000;
    display: inline-block;
    width: 22rem;
    margin: 2rem;
    padding: 0rem, 0rem;
    color: rgb(233, 209, 245);
    text-align: center;
    height: auto;
    background-color: rgba(0, 0, 0, 0.664)
}

.gameCard:hover{
    background-color: rgba(0, 0, 0);
    color: white;
    transform: translateY(8px);
}

#game-cards {
    margin-top: 10rem;
    width: 100%;
    align-items: center;
}

.games-container {
    width: 100%;
    align-items: center;
}

#seegames {
    font-size: 2.7rem;
    width: 10rem;
    height: 3.3rem;
    background-color: rgb(174, 151, 204);
    border-color: rgb(234, 199, 241);
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: bottoms;
}

#nav-buttons {
    margin-top: 2rem;
    margin-right: 65rem;
}

#next,
#back, .pageButton {
    font-size: 2rem;
    padding: 1.5rem;
    width: auto;
    color: #200427;
    text-align: center;
    margin-right: 2rem;
    background-color: transparent;
    height: 4rem;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: bottoms;
}

footer{
    text-align: center;
}

@keyframes bottoms {
    20% {
        background-color: rgb(148, 118, 189);
    }
    40% {
        background-color: rgb(77, 61, 100);
        color: #ffcccc;
    }
    60% {
        background-color: rgb(65, 50, 87);
        color: #ffcccc;
    }
    80% {
        background-color: rgb(26, 21, 32);
        color: #ffcccc;
    }
}


#genres, #order, #orderRating, #origin{
    margin-right: 5rem;
    width: 10rem;
}

.filters-sort{
    font-variant: small-caps;
    margin-left: 24.7rem;
    display: flex;
    color: rgba(221, 186, 238, 0.959);
}

#filters{
    margin-top: 10rem;
}


#searchname{
    margin-left: 45rem;
    width: 40rem;
    height: 3rem;
    background-color: black;
    color: rgba(221, 186, 238, 0.959);
    border-color: rgba(221, 186, 238, 0.959);
}

@media (max-width: 28.75em) {
    #searchname {
        margin-left: 0rem;
    }
}


#searchbutton{
    height: 3rem;
    color: black;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: bottoms;
    background-color: rgba(221, 186, 238, 0.959);
}

.pagination\:number {
    --size: 32px;
    --margin: 6px;
    margin: 0 var(--margin);
    border-radius: 6px;
    background: rgb(26, 21, 32);
    color: rgb(233, 209, 245);
    max-width: auto;
    min-width: auto;
    height: 3rem;
    cursor: pointer;
    padding: 0 6px;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-name: letters;
  }

select {
    background-color: #ffcccc62;
    color: rgb(0, 0, 0);
    margin-bottom: 1em;
    padding: .25em;
    border: 0;
    border-bottom: 2px solid currentcolor; 
    font-weight: bold;
    letter-spacing: .15em;
    border-radius: 0;
}

.body404{
    margin-top: 10rem;
    width: 100%;
    text-align: center;
}

.button404{
    height: 4rem;
    width: 10rem;
    border-radius: 1rem;
    background-color: #200427;
    color: white;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: bottoms;
}

#not-found{
    text-align: center;
    background-color: transparent;
    height: auto;
}

.homeSearch{
    margin-left: 45rem;
    width: 40rem;
    height: 3rem;
    background-color: transparent;
    color: rgba(221, 186, 238, 0.959);
    border-color: rgba(221, 186, 238, 0.959);
    font-size: 3.6rem;
    font-variant: small-caps;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-name: bottoms;
}

@keyframes letters {
    20% {
        color: rgb(241, 238, 247);
    }
    40% {
        color: rgb(83, 52, 126);
    }
    60% {
        color: rgb(161, 144, 187);

    }
    80% {
        color: rgb(114, 72, 165);
    }
}

#fullVideogame{
    border-radius: 0.1rem;
    margin-top: 4rem;
    margin-left: 27.3rem;
    width: 80rem;
    text-align: center;
    background-color: #000000c4 ;
    color: rgb(233, 209, 245);
}